.logo {
  transition: filter 300ms;
  will-change: filter;
  padding: 1.5em;
  height: 6em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.svelte:hover {
  filter: drop-shadow(0 0 2em #ff3e00aa);
}

.read-the-docs {
  color: #888;
}
